GEMINI_API_KEY=sua_chave_gemini_aqui
GROQ_API_KEY=sua_chave_groq_aqui
CEREBRAS_API_KEY=sua_chave_cerebras_aqui
OPENAI_API_KEY=sua_chave_openai_aqui
SECRET_KEY=chave-secreta-flask
DB_NAME=aula
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
